.searchbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  max-width: initial;
}

.searchbar{
  width: 80%;
}

@media screen and (max-width: 1000px) {
  .searchbar-container{
    position: relative;
    width: 90%;
  }

  .searchbar{
    width: 70%;
    
  }

  .submit-btn .label {
    display: none;
  }
}
 
.submit-btn {
  margin-left: 1rem;
  margin-bottom: 1rem;
  height: 52px !important;
  font-size: large;
}
.label {
  padding-right: 0.5rem;
}
